{% extends 'barely.html' %}
{% block content %}
<h2 class="right loose">Fit for all</h2>
<div class="intro">
	<div class="intro-copy">
	  <div class="card about">
	    <p>Barely is a fit for all levels of movement. Specifically built for people who demand structure without the pressure. Whether you are a fast and experienced or new and paced, BRC is a consistent routine working with others towards similar fitness and performance goals.</p>
	  </div>
	  <div class="join whitebold">
	    <h3 class="border">Every Wednesday at 6:15pm</h3>
	    <p>Join us weekly in Baton Rouge for a run club focused on movement, recovery, and community. Run together and exercise consistently alongside others with similar goals.</p>
	    <a class="action right button" href="/meetups">Join us at our next meet</a>
	    <p class="right">* new locations every week</p>
	  </div>
	</div>
  <div class="flyer">
    <img src="/static/img/og_flyer.png">
  </div>
</div>
{% endblock %}